<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="/">Splendor</a></div>
    <div class="collapse navbar-collapse">
      <ul ng-if="!isLoggedIn" class="nav navbar-nav navbar-right">
        <li ng-class="getActiveTabCss('login')"><a href="/login">Sign In</a></li>
        <li ng-class="getActiveTabCss('register')"><a href="/register">Sign Up</a></li>
      </ul>

      <ul ng-if="isLoggedIn" class="nav navbar-nav navbar-right">
        <li><a ng-click="logout()">Sign Out</a></li>
      </ul>

      <ul ng-if="isLoggedIn" class="nav navbar-nav">
        <li ng-class="getActiveTabCss('')"><a href="/">Home</a></li>
        <li ng-class="getActiveTabCss('start_game')"><a href="/start_game">Start a game</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>