<form class="form-block" role="form">
  <h2 class="form-block-heading">Sign Up</h2>
  <input type="email" class="form-control top_input" placeholder="Email" ng-model="registrationData.email" required autofocus>
  <input type="password" class="form-control middle_input" placeholder="Password" ng-model="registrationData.password" required>
  <input type="password" class="form-control bottom_input" placeholder="Password Confirmation" ng-model="passwordConfirmation" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">Sign Up</button>
  <div ng-if="message != ''" class="alert" ng-class="success ? 'alert-success' : 'alert-danger'">
    {{message}}
  </div>
</form>